<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>using_jsp_initial_time</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>
		</description>
		<display-name>DataCollector</display-name>
		<servlet-name>DataCollector</servlet-name>
		<servlet-class>com.eg.DataCollector</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:oracle:thin:@192.168.0.5:1521:ORCL</param-value>
		</init-param>
		<init-param>
			<param-name>username</param-name>
			<param-value>TRAINING_DB</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>laps</param-value>
		</init-param>
		<init-param>
		<param-name>driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Another</display-name>
		<servlet-name>Another</servlet-name>
		<servlet-class>com.eg.Another</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataCollector</servlet-name>
		<url-pattern>/collect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Another</servlet-name>
		<url-pattern>/Another</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>surveyQues</servlet-name>
		<jsp-file>/surveyQuestions.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>surveyQues</servlet-name>
		<url-pattern>/survey</url-pattern>
	</servlet-mapping>

</web-app>
